  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  		<span class="navbar-toggler-icon"></span>
  	</button>
  	<a class="navbar-brand" href="#">Project</a>

  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
  		<ul class="navbar-nav mr-auto">
  			<li *ngIf="isLoggedIn" class="nav-item">
  				<a class="nav-link" href="#" routerLink="/">Dashboard</a>
  			</li>
  		</ul>

  		<ul class="navbar-nav ml-auto">

  			<li *ngIf="!isLoggedIn && showRegister" class="nav-item ">
  				<a class="nav-link" href="#" routerLink="/login">Login</a>
  			</li>

  			<li *ngIf="!isLoggedIn && showRegister" class="nav-item ">
  				<a class="nav-link" href="#" routerLink="/register">Register</a>
  			</li>

        <li *ngIf="isLoggedIn" class="nav-item ">
          <span class="nav-link">{{ loggedInUser }}</span>
         
        </li>

        <li *ngIf="isLoggedIn" class="nav-item ">
          <a class="nav-link" href="#" routerLink="/settings">Settings</a>
				</li>
				
				<li *ngIf="isLoggedIn" class="nav-item ">
          <a class="nav-link" href="#" routerLink="/payment">Payments</a>
        </li>

        <li *ngIf="isLoggedIn" class="nav-item ">
          <a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a>
        </li>

  		</ul>
  		
  	</div>
  </nav>
  <br>
